In [ ]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/Netflix_project

In [ ]:
import mysql.connector
from mysql.connector import Error

try:
    # Connect to MySQL server (not a specific DB yet)
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='root'  # replace if your password is different
    )

    if connection.is_connected():
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS netflix_project;")
        print("‚úÖ Database 'netflix_project' created successfully or already exists.")

except Error as e:
    print("‚ùå Error while connecting to MySQL:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("üîí MySQL connection closed.")

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS netflix (
    show_id VARCHAR(10) PRIMARY KEY,
    type VARCHAR(20),
    title VARCHAR(255),
    director VARCHAR(255),
    cast TEXT,
    country VARCHAR(255),
    release_date DATE,
    rating VARCHAR(10),
    duration VARCHAR(50),
    genre TEXT,
    description TEXT
);

In [ ]:
%%sql
SHOW TABLES;

In [ ]:
%%sql 
DESCRIBE netflix;

In [ ]:
%sql SET GLOBAL local_infile = 1;

In [ ]:
%sql mysql://root:root@localhost/netflix_project?local_infile=1

In [ ]:
%%sql
LOAD DATA LOCAL INFILE 'C:/Users/devika/Desktop/Project/Netflix_project/data/cleaned_netflix.csv'
INTO TABLE netflix
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n' 
IGNORE 1 ROWS;

In [ ]:
#Verifing the data
%%sql
select * from netflix
limit 5;

In [ ]:
%%sql
select count(DISTINCT genre) from netflix;

In [ ]:
%%sql
select count(*) from netflix;

In [ ]:

%%sql
# Directors Table
CREATE TABLE if not exists directors (
    director_id INT AUTO_INCREMENT PRIMARY KEY,
    director_name VARCHAR(255) UNIQUE
);

# Countries Table
CREATE TABLE if not exists countries (
    country_id INT AUTO_INCREMENT PRIMARY KEY,
    country_name VARCHAR(255) UNIQUE
);

# Genres Table
CREATE TABLE if not exists  genres (
    genre_id INT AUTO_INCREMENT PRIMARY KEY,
    genre_name VARCHAR(255) UNIQUE
);

#Main Netflix Shows Table
CREATE TABLE netflix_shows (
    show_id VARCHAR(10) PRIMARY KEY,
    title VARCHAR(255),
    type VARCHAR(50),
    director_id INT,
    country_id INT,
    release_date DATE,
    rating VARCHAR(50),
    duration VARCHAR(50),
    description TEXT,
    FOREIGN KEY (director_id) REFERENCES directors(director_id),
    FOREIGN KEY (country_id) REFERENCES countries(country_id)
);

In [ ]:
%%sql
#Insert unique directors
INSERT INTO directors (director_name)
SELECT DISTINCT director FROM netflix
WHERE director IS NOT NULL AND director <> '';

#Insert unique countries
INSERT INTO countries (country_name)
SELECT DISTINCT country FROM netflix
WHERE country IS NOT NULL AND country <> '';

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create database connection
engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

# Load dataset
df = pd.read_csv("../cleaned_netflix.csv")

# Split 'type' column into individual genres
genres = (
    df['type']
    .dropna()
    .astype(str)
    .str.split(',')
    .explode()
    .str.strip()
    .str.title()
    .unique()
)

# Convert to DataFrame
genres_df = pd.DataFrame(genres, columns=['genre_name'])

# Insert into MySQL
genres_df.to_sql('genres', con=engine, if_exists='append', index=False)

print("‚úÖ Genres inserted successfully!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

df = pd.read_csv("../cleaned_netflix.csv")

# Fix invalid dates
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Drop rows where release_date is NaT (optional)
df = df.dropna(subset=['release_date'])

# Convert to YYYY-MM-DD format
df['release_date'] = df['release_date'].dt.strftime('%Y-%m-%d')

# Upload again (replace or update)
df.to_sql('netflix', con=engine, if_exists='replace', index=False)

In [ ]:
%%sql
UPDATE netflix_shows ns
JOIN netflix n ON ns.show_id = n.show_id
SET ns.release_date = n.release_date
WHERE n.release_date IS NOT NULL;

In [ ]:
%%sql
CREATE TABLE show_genres (
    show_id VARCHAR(10),
    genre_id INT,
    FOREIGN KEY (show_id) REFERENCES netflix_shows(show_id),
    FOREIGN KEY (genre_id) REFERENCES genres(genre_id),
    PRIMARY KEY (show_id, genre_id)
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

# Load cleaned data
df = pd.read_csv("../cleaned_netflix.csv")

# Get valid show_ids from DB
valid_ids = pd.read_sql("SELECT show_id FROM netflix_shows", con=engine)
valid_ids_set = set(valid_ids['show_id'])

# Create mapping DataFrame (show_id ‚Üí genre)
show_genre_map = (
    df[['show_id', 'type']]
    .dropna()
    .assign(type=lambda x: x['type'].astype(str).str.split(','))
    .explode('type')
)
show_genre_map['type'] = show_genre_map['type'].str.strip().str.title()

# Filter only valid show_ids that exist in the DB
show_genre_map = show_genre_map[show_genre_map['show_id'].isin(valid_ids_set)]

# Merge with genres table
genre_ids = pd.read_sql("SELECT * FROM genres", con=engine)
merged = show_genre_map.merge(
    genre_ids,
    left_on='type',
    right_on='genre_name',
    how='inner'
)[['show_id', 'genre_id']]

# Insert valid mappings
merged.to_sql('show_genres', con=engine, if_exists='append', index=False)

print(f"‚úÖ Inserted {len(merged)} valid show-genre mappings.")

In [ ]:

%%sql
# Top 10 Most Popular Genres by Number of Shows
SELECT 
    g.genre_name,
    COUNT(sg.show_id) AS total_titles
FROM show_genres sg
JOIN genres g ON sg.genre_id = g.genre_id
GROUP BY g.genre_name
ORDER BY total_titles DESC
LIMIT 10;

In [ ]:
%%sql
#Directors Who Have Worked in Multiple Genres
select d.director_name,count(g.show_id) total_genres from netflix_shows ns
join directors as d
on d.director_id = ns.director_id
join show_genres as g
on g.show_id=ns.show_id
group by d.director_name
having total_genres>3
order by total_genres desc;

In [ ]:
%%sql
#Top 5 Countries with the Most Content Variety
SELECT 
    c.country_name,
    COUNT(DISTINCT sg.genre_id) AS genre_variety
FROM netflix_shows ns
JOIN countries c ON ns.country_id = c.country_id
JOIN show_genres sg ON ns.show_id = sg.show_id
GROUP BY c.country_name
ORDER BY genre_variety DESC
LIMIT 5;

In [ ]:
%%sql
#Most Common Rating for Each Genre
WITH ranked AS (
    SELECT 
        g.genre_name,
        ns.rating,
        COUNT(*) AS total,
        RANK() OVER (PARTITION BY g.genre_name ORDER BY COUNT(*) DESC) AS rnk
    FROM netflix_shows ns
    JOIN show_genres sg ON ns.show_id = sg.show_id
    JOIN genres g ON sg.genre_id = g.genre_id
    GROUP BY g.genre_name, ns.rating
)
SELECT *
FROM ranked
WHERE rnk = 1
ORDER BY genre_name;

In [ ]:
%%sql
#Find Directors with the Highest Average Movie Duration
SELECT 
    d.director_name,
    ROUND(AVG(CAST(SUBSTRING_INDEX(ns.duration, ' ', 1) AS UNSIGNED)), 2) AS avg_duration
FROM netflix_shows ns
JOIN directors d ON ns.director_id = d.director_id
WHERE ns.type = 'Movie'
GROUP BY d.director_name
HAVING COUNT(*) >= 3
ORDER BY avg_duration DESC
LIMIT 10;

In [ ]:
%%sql
#Content Growth Trend per Year
SELECT 
    release_date,
    COUNT(show_id) AS total_titles,
    ROUND(
        (COUNT(show_id) / SUM(COUNT(show_id)) OVER()) * 100, 2
    ) AS percentage_share
FROM netflix_shows
GROUP BY release_date
ORDER BY release_date
limit 10;

In [ ]:
%%sql
#Top 10 Countries Producing the Most Content
SELECT 
    c.country_name,
    COUNT(ns.show_id) AS total_titles
FROM netflix_shows ns
JOIN countries c ON ns.country_id = c.country_id
GROUP BY c.country_name
ORDER BY total_titles DESC
LIMIT 10;

In [ ]:
%%sql
#Top Directors by Number of Shows
SELECT 
    d.director_name,
    COUNT(ns.show_id) AS total_shows,
    GROUP_CONCAT(DISTINCT ns.type ORDER BY ns.type SEPARATOR ', ') AS categories
FROM netflix_shows ns
JOIN directors d ON ns.director_id = d.director_id
GROUP BY d.director_name
ORDER BY total_shows DESC
LIMIT 20;

In [ ]:
%%sql
#Most Popular Genres by Year
with cte as(SELECT 
    ns.release_date,
    g.genre_name,
    COUNT(*) AS total_titles,
    RANK() OVER (PARTITION BY ns.release_date ORDER BY COUNT(*) DESC) AS genre_rank
FROM netflix_shows ns
JOIN show_genres sg ON ns.show_id = sg.show_id
JOIN genres g ON sg.genre_id = g.genre_id
WHERE ns.release_date IS NOT NULL
GROUP BY ns.release_date, g.genre_name
HAVING total_titles > 5
ORDER BY ns.release_date, genre_rank)
select * from cte
where genre_rank=1;