In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/Netflix_project

In [2]:
import mysql.connector
from mysql.connector import Error

try:
    # Connect to MySQL server (not a specific DB yet)
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='root'  # replace if your password is different
    )

    if connection.is_connected():
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS netflix_project;")
        print("‚úÖ Database 'netflix_project' created successfully or already exists.")

except Error as e:
    print("‚ùå Error while connecting to MySQL:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("üîí MySQL connection closed.")

‚úÖ Database 'netflix_project' created successfully or already exists.
üîí MySQL connection closed.

In [53]:
%%sql
CREATE TABLE IF NOT EXISTS netflix (
    show_id VARCHAR(10) PRIMARY KEY,
    type VARCHAR(20),
    title VARCHAR(255),
    director VARCHAR(255),
    cast TEXT,
    country VARCHAR(255),
    release_date DATE,
    rating VARCHAR(10),
    duration VARCHAR(50),
    genre TEXT,
    description TEXT
);

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
0 rows affected.

[]

In [27]:
%%sql
SHOW TABLES;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
6 rows affected.

[('countries',),
 ('directors',),
 ('genres',),
 ('netflix',),
 ('netflix_shows',),
 ('show_genres',)]

In [26]:
%%sql 
DESCRIBE netflix;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
11 rows affected.

[('show_id', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('type', 'varchar(20)', 'YES', '', None, ''),
 ('title', 'varchar(255)', 'YES', '', None, ''),
 ('director', 'varchar(255)', 'YES', '', None, ''),
 ('cast', 'text', 'YES', '', None, ''),
 ('country', 'varchar(255)', 'YES', '', None, ''),
 ('release_date', 'date', 'YES', '', None, ''),
 ('rating', 'varchar(10)', 'YES', '', None, ''),
 ('duration', 'varchar(50)', 'YES', '', None, ''),
 ('genre', 'text', 'YES', '', None, ''),
 ('description', 'text', 'YES', '', None, '')]

In [57]:
%sql SET GLOBAL local_infile = 1;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
0 rows affected.

[]

In [15]:
%sql mysql://root:root@localhost/netflix_project?local_infile=1

In [59]:
%%sql
LOAD DATA LOCAL INFILE 'C:/Users/devika/Desktop/Project/Netflix_project/data/cleaned_netflix.csv'
INTO TABLE netflix
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n' 
IGNORE 1 ROWS;

   mysql+mysqlconnector://root:***@localhost/Netflix_project
 * mysql://root:***@localhost/netflix_project?local_infile=1
4293 rows affected.

[]

In [ ]:
#Verifing the data
%%sql
select * from netflix
limit 5;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
5 rows affected.

[('s1', 'TV Show', '3%', 'Unknown', 'Jo√£o Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zez√© Motta, Celso Frateschi', 'Brazil', datetime.date(2020, 8, 14), 'TV-MA', '4 Seasons', 'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy', 'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor."\r\ns2,Movie,07:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato'),
 ('s10', 'Movie', '1920', 'Vikram Bhatt', 'Rajneesh Duggal, Adah Sharma, Indraneil Sengupta, Anjori Alagh, Rajendranath Zutshi, Vipin Sharma, Amin Hajee, Shri Vallabh Vyas', 'India', datetime.date(2017, 12, 15), 'TV-MA', '143 min', 'Horror Movies, International Movies, Thrillers', 'An architect and his wife move into a castle that is slated to become a luxury hotel. But something inside is determined to stop the renovation.\r'),
 ('s100', 'Movie', '3 Heroines', 'Iman Brotoseno', 'Reza Rahadian, Bunga Citra Lestari, Tara Basro, Chelsea Islan', 'Indonesia', datetime.date(2019, 1, 5), 'TV-PG', '124 min', 'Dramas, International Movies, Sports Movies', 'Three Indonesian women break records by becoming the first of their nation to medal in archery at the Seoul Olympics in the summer of 1988.\r'),
 ('s1001', 'TV Show', 'Blue Planet II', 'Unknown', 'David Attenborough', 'United Kingdom', datetime.date(2018, 12, 3), 'TV-G', '1 Season', 'British TV Shows, Docuseries, Science & Nature TV', 'This sequel to the award-winning nature series "Blue Planet" dives beneath Earth\'s oceans to reveal the dazzling vistas and amazing creatures there. ... (54 characters truncated) ... r, Devin Ratray, Amy Hargreaves, Kevin Kolack, Eve Plumb, David W. Thompson, Brent Werzner, Stacy Rock, Sidn√© Anderson, Sandy Barnett, Bonnie Johnson'),
 ('s1003', 'Movie', 'Blue Streak', 'Les Mayfield', 'Martin Lawrence, Luke Wilson, Peter Greene, Dave Chappelle, Nicole Ari Parker, Graham Beckel, Robert Miranda, Olek Krupa, Saverio Guerra, Richard C. Sarafian, William Forsythe', 'Germany, United States', datetime.date(2021, 1, 1), 'PG-13', '94 min', 'Action & Adventure, Comedies', 'A jewel thief returns to his hiding place after a stint in jail ‚Äî only to find that his diamond is buried under a newly constructed police station.\r')]

In [28]:
%%sql
select count(DISTINCT genre) from netflix;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
1 rows affected.

[(413,)]

In [41]:
%%sql
select count(*) from netflix;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
1 rows affected.

[(4185,)]

In [78]:

%%sql
# Directors Table
CREATE TABLE if not exists directors (
    director_id INT AUTO_INCREMENT PRIMARY KEY,
    director_name VARCHAR(255) UNIQUE
);

# Countries Table
CREATE TABLE if not exists countries (
    country_id INT AUTO_INCREMENT PRIMARY KEY,
    country_name VARCHAR(255) UNIQUE
);

# Genres Table
CREATE TABLE if not exists  genres (
    genre_id INT AUTO_INCREMENT PRIMARY KEY,
    genre_name VARCHAR(255) UNIQUE
);

#Main Netflix Shows Table
CREATE TABLE netflix_shows (
    show_id VARCHAR(10) PRIMARY KEY,
    title VARCHAR(255),
    type VARCHAR(50),
    director_id INT,
    country_id INT,
    release_date DATE,
    rating VARCHAR(50),
    duration VARCHAR(50),
    description TEXT,
    FOREIGN KEY (director_id) REFERENCES directors(director_id),
    FOREIGN KEY (country_id) REFERENCES countries(country_id)
);

   mysql+mysqlconnector://root:***@localhost/Netflix_project
 * mysql://root:***@localhost/netflix_project?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql
#Insert unique directors
INSERT INTO directors (director_name)
SELECT DISTINCT director FROM netflix
WHERE director IS NOT NULL AND director <> '';

#Insert unique countries
INSERT INTO countries (country_name)
SELECT DISTINCT country FROM netflix
WHERE country IS NOT NULL AND country <> '';

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
2400 rows affected.
453 rows affected.

[]

In [68]:
import pandas as pd
from sqlalchemy import create_engine

# Create database connection
engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

# Load dataset
df = pd.read_csv("../cleaned_netflix.csv")

# Split 'type' column into individual genres
genres = (
    df['type']
    .dropna()
    .astype(str)
    .str.split(',')
    .explode()
    .str.strip()
    .str.title()
    .unique()
)

# Convert to DataFrame
genres_df = pd.DataFrame(genres, columns=['genre_name'])

# Insert into MySQL
genres_df.to_sql('genres', con=engine, if_exists='append', index=False)

print("‚úÖ Genres inserted successfully!")

‚úÖ Genres inserted successfully!

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

df = pd.read_csv("../cleaned_netflix.csv")

# Fix invalid dates
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Drop rows where release_date is NaT (optional)
df = df.dropna(subset=['release_date'])

# Convert to YYYY-MM-DD format
df['release_date'] = df['release_date'].dt.strftime('%Y-%m-%d')

# Upload again (replace or update)
df.to_sql('netflix', con=engine, if_exists='replace', index=False)

7689

In [5]:
%%sql
UPDATE netflix_shows ns
JOIN netflix n ON ns.show_id = n.show_id
SET ns.release_date = n.release_date
WHERE n.release_date IS NOT NULL;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
4238 rows affected.

[]

In [31]:
%%sql
CREATE TABLE show_genres (
    show_id VARCHAR(10),
    genre_id INT,
    FOREIGN KEY (show_id) REFERENCES netflix_shows(show_id),
    FOREIGN KEY (genre_id) REFERENCES genres(genre_id),
    PRIMARY KEY (show_id, genre_id)
);

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
(mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'show_genres' already exists
[SQL: CREATE TABLE show_genres (
    show_id VARCHAR(10),
    genre_id INT,
    FOREIGN KEY (show_id) REFERENCES netflix_shows(show_id),
    FOREIGN KEY (genre_id) REFERENCES genres(genre_id),
    PRIMARY KEY (show_id, genre_id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [52]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:root@localhost/Netflix_project")

# Load cleaned data
df = pd.read_csv("../cleaned_netflix.csv")

# Get valid show_ids from DB
valid_ids = pd.read_sql("SELECT show_id FROM netflix_shows", con=engine)
valid_ids_set = set(valid_ids['show_id'])

# Create mapping DataFrame (show_id ‚Üí genre)
show_genre_map = (
    df[['show_id', 'type']]
    .dropna()
    .assign(type=lambda x: x['type'].astype(str).str.split(','))
    .explode('type')
)
show_genre_map['type'] = show_genre_map['type'].str.strip().str.title()

# Filter only valid show_ids that exist in the DB
show_genre_map = show_genre_map[show_genre_map['show_id'].isin(valid_ids_set)]

# Merge with genres table
genre_ids = pd.read_sql("SELECT * FROM genres", con=engine)
merged = show_genre_map.merge(
    genre_ids,
    left_on='type',
    right_on='genre_name',
    how='inner'
)[['show_id', 'genre_id']]

# Insert valid mappings
merged.to_sql('show_genres', con=engine, if_exists='append', index=False)

print(f"‚úÖ Inserted {len(merged)} valid show-genre mappings.")

‚úÖ Inserted 9518 valid show-genre mappings.

In [ ]:

%%sql
# Top 10 Most Popular Genres by Number of Shows
SELECT 
    g.genre_name,
    COUNT(sg.show_id) AS total_titles
FROM show_genres sg
JOIN genres g ON sg.genre_id = g.genre_id
GROUP BY g.genre_name
ORDER BY total_titles DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
10 rows affected.

[('International Movies', 1358),
 ('Dramas', 1188),
 ('Comedies', 833),
 ('International Tv Shows', 701),
 ('Action & Adventure', 396),
 ('Documentaries', 392),
 ('Tv Dramas', 387),
 ('Independent Movies', 363),
 ('Romantic Movies', 300),
 ('Tv Comedies', 299)]

In [ ]:
%%sql
#Directors Who Have Worked in Multiple Genres
select d.director_name,count(g.show_id) total_genres from netflix_shows ns
join directors as d
on d.director_id = ns.director_id
join show_genres as g
on g.show_id=ns.show_id
group by d.director_name
having total_genres>3
order by total_genres desc;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
272 rows affected.

[('Unknown', 3034),
 ('Youssef Chahine', 20),
 ('Cathy Garcia-Molina', 18),
 ('Anees Bazmee', 16),
 ('Martin Scorsese', 16),
 ('Imtiaz Ali', 15),
 ('S.S. Rajamouli', 15),
 ('Anurag Kashyap', 12),
 ('David Dhawan', 12),
 ('Justin G. Dyck', 12),
 ('Kƒ±van√ß Baru√∂n√º', 12),
 ('Sooraj R. Barjatya', 12),
 ('Fernando Ayll√≥n', 11),
 ('Nagesh Kukunoor', 11),
 ('Robert Rodriguez', 11),
 ('Abbas Alibhai Burmawalla, Mastan Alibhai Burmawalla', 10),
 ('Johnnie To', 10),
 ('Kunle Afolayan', 10),
 ('Wenn V. Deramas', 10),
 ('Anurag Basu', 9),
 ('B. V. Nandini Reddy', 9),
 ('Farah Khan', 9),
 ('Farhan Akhtar', 9),
 ('Hanung Bramantyo', 9),
 ('Indra Kumar', 9),
 ('Jay Karas', 9),
 ('Khaled Marei', 9),
 ('Latif Faiziyev, Umesh Mehra', 9),
 ('Mae Czarina Cruz', 9),
 ('Mahesh Bhatt', 9),
 ('Omoni Oboli', 9),
 ('Prakash Mehra', 9),
 ('Rakeysh Omprakash Mehra', 9),
 ('Ra√∫l Campos, Jan Suter', 9),
 ('Sameh Abdulaziz', 9),
 ('Shaun Paul Piccinino', 9),
 ('Thierry Donard', 9),
 ('Vishal Bhardwaj', 9),
 ('Ashutosh Gowariker', 8),
 ('Brian Levant', 8),
 ('Cristina Jacob', 8),
 ('David Fincher', 8),
 ('Don Michael Paul', 8),
 ('Ishaya Bako', 8),
 ('Mahesh Manjrekar', 8),
 ('Mikhail Red', 8),
 ('Milan Luthria', 8),
 ('Mohamed Samy', 8),
 ('Nishikant Kamat', 8),
 ('Philippe Aractingi', 8),
 ('Priyadarshan', 8),
 ('Rajiv Mehra', 8),
 ('Sean McNamara', 8),
 ('Shyam Benegal', 8),
 ('Yƒ±lmaz Erdoƒüan', 8),
 ('Adam Shankman', 7),
 ('Alex Lehmann', 7),
 ('Angga Dwimas Sasongko', 7),
 ('Chia-Liang Liu', 7),
 ('David Mackenzie', 7),
 ('Hakan Alg√ºl', 7),
 ('Jeremy Saulnier', 7),
 ('Marcus Raboy', 7),
 ('Mat√≠as Gueilburt', 7),
 ('McG', 7),
 ('Mike Clattenburg', 7),
 ('Noah Baumbach', 7),
 ('Obi Emelonye', 7),
 ('Oliver Stone', 7),
 ('Ozan A√ßƒ±ktan', 7),
 ('Prakash Jha', 7),
 ('Riri Riza', 7),
 ('Rob Minkoff', 7),
 ('Robert Vince', 7),
 ('Shawn Levy', 7),
 ('Sumitra Bhave, Sunil Sukthankar', 7),
 ('Vlad Yudin', 7),
 ('Wael Ihsan', 7),
 ('Wilson Yip', 7),
 ('Abhishek Kapoor', 6),
 ('Ahmed Nader Galal', 6),
 ('Alejandro Agresti', 6),
 ('Alejandro Montiel', 6),
 ('Alfonso Cuar√≥n', 6),
 ('Ashwin Saravanan', 6),
 ('Aziz Mirza', 6),
 ('Barry Sonnenfeld', 6),
 ('Basu Chatterjee', 6),
 ('Ben Wheatley', 6),
 ('Bong Joon Ho', 6),
 ('Brett Haley', 6),
 ('Clay Glen', 6),
 ('Detlev Buck', 6),
 ('Dharmesh Darshan', 6),
 ('Dibakar Banerjee', 6),
 ('Dino Risi', 6),
 ('Federico Veiroj', 6),
 ('Gerardo Olivares', 6),
 ('Gonzalo L√≥pez-Gallego', 6),
 ('Hern√°n Zin', 6),
 ('Hrishikesh Mukherjee', 6),
 ('Isaac Ezban', 6),
 ('Kabir Sadanand', 6),
 ('Karthik Subbaraj', 6),
 ('Kazuchika Kise', 6),
 ('Ketan Mehta', 6),
 ('Kevin Smith', 6),
 ('Ksshitij Chaudhary', 6),
 ('Kundan Shah', 6),
 ('Lucas Margutti', 6),
 ('Lynn Shelton', 6),
 ('Mahmoud Karim', 6),
 ('Maria Ripoll', 6),
 ('Masaaki Yuasa', 6),
 ('Mateo Gil', 6),
 ('Matt Askem', 6),
 ('Matthew Vaughn', 6),
 ('Mez Tharatorn', 6),
 ('Michael Dowse', 6),
 ('Neeraj Pandey', 6),
 ('Nila Madhab Panda', 6),
 ('Olivia M. Lamasan', 6),
 ('Olivier Marchal', 6),
 ('Onir', 6),
 ('Osgood Perkins', 6),
 ('Pankaj Batra', 6),
 ('Paul Soriano', 6),
 ('Peyton Reed', 6),
 ('Prakash Satam', 6),
 ('Qaushiq Mukherjee', 6),
 ('Raditya Dika', 6),
 ('Ram Gopal Varma', 6),
 ('Roger Kumble', 6),
 ('Rohit Jugraj', 6),
 ('Ron Howard', 6),
 ('Ruel S. Bayani', 6),
 ('Sangeeth Sivan', 6),
 ('Shakun Batra', 6),
 ('Shirley Frimpong-Manso', 6),
 ('Shlok Sharma', 6),
 ('Soumendra Padhi', 6),
 ('Sridhar Rangayan', 6),
 ('Sriram Raghavan', 6),
 ('Stephen Daldry', 6),
 ('Steve Brill', 6),
 ('Steven Spielberg', 6),
 ('Subhash Ghai', 6),
 ('Sudhir Mishra', 6),
 ('Sze Yu Lau', 6),
 ('Taika Waititi', 6),
 ('Thiru', 6),
 ('Tigmanshu Dhulia', 6),
 ('Toshiya Shinohara', 6),
 ('Toshiyuki Kubooka', 6),
 ('Vikas Bahl', 6),
 ('Vikramaditya Motwane', 6),
 ('Wael Ehsan', 6),
 ('Wong Jing', 6),
 ('Abhishek Sharma', 5),
 ('Ahmed Al-Badry', 5),
 ('Alessandro Angulo', 5),
 ('Barry Levinson', 5),
 ('Burak Aksak', 5),
 ('Craig Brewer', 5),
 ('Dan Gilroy', 5),
 ('Dan Villegas', 5),
 ('David Dobkin', 5),
 ('Edwin', 5),
 ('Eli Craig', 5),
 ('Gillian Robespierre', 5),
 ('Guy Ritchie', 5),
 ('Hani Hamdi', 5),
 ('Hannah Fidell', 5),
 ('Harald Zwart', 5),
 ('Harold Cronk', 5),
 ('Israel Adri√°n Caetano', 5),
 ('Jay Roach', 5),
 ('John Huston', 5),
 ('John Schultz', 5),
 ('Jon M. Chu', 5),
 ('Jonathan Demme', 5),
 ('Julien Leclercq', 5),
 ('Jun Lana', 5),
 ('Justin Webster', 5),
 ('Karan Johar', 5),
 ('Kemi Adetiba', 5),
 ('Khaled El Halafawy', 5),
 ('Kim Nguyen', 5),
 ('Mark Steven Johnson', 5),
 ('Mark Tonderai', 5),
 ('Maroun Baghdadi', 5),
 ('Mike Newell', 5),
 ('Mysskin', 5),
 ('Neill Blomkamp', 5),
 ('Niyi Akinmolayan', 5),
 ('Norman Jewison', 5),
 ('Orlando von Einsiedel', 5),
 ('Peter Segal', 5),
 ('Poj Arnon', 5),
 ('Quentin Tarantino', 5),
 ('Rajkumar Hirani', 5),
 ('Rako Prijanto', 5),
 ("Remo D'Souza", 5),
 ("Renzil D'Silva", 5),
 ('Rob Seidenglanz', 5),
 ('Rohit Shetty', 5),
 ('Sam Raimi', 5),
 ('Satish Rajwade', 5),
 ('Tanuja Chandra', 5),
 ('Tensai Okamura', 5),
 ('Tom Hooper', 5),
 ('Umesh Mehra', 5),
 ('Zak Hilditch', 5),
 ('Ziad Doueiri', 5),
 ('Zoe Berriat√∫a', 5),
 ('Ahmad El-Badri', 4),
 ('Andrew Niccol', 4),
 ('Antonio Campos', 4),
 ('Ari Sandel', 4),
 ('Ava DuVernay', 4),
 ('Charles Stone III', 4),
 ('Charlie Lightening', 4),
 ('Chito S. Ro√±o', 4),
 ('Clark Johnson', 4),
 ('Cristi Puiu', 4),
 ('Daniel Alfredson', 4),
 ('Daniel Kontur', 4),
 ('David Batty', 4),
 ('David E. Talbert', 4),
 ('David Mich√¥d', 4),
 ('Fernando Gonz√°lez Molina', 4),
 ('Frank Coraci', 4),
 ('George C. Wolfe', 4),
 ('Gore Verbinski', 4),
 ('Hasan Karacadaƒü', 4),
 ('James McTeigue', 4),
 ('James Wong', 4),
 ('Jeff Baena', 4),
 ('Jeff Tremaine', 4),
 ('Jerrold Tarog', 4),
 ('John Duigan', 4),
 ('John Ford', 4),
 ('Jon Rosenbaum', 4),
 ('Jonathan Mostow', 4),
 ('Jota Linares', 4),
 ('Kasia Uscinska', 4),
 ('Leslie Small', 4),
 ('Lilly Wachowski, Lana Wachowski', 4),
 ('Mar Targarona', 4),
 ('Marc Forster', 4),
 ('Michael J. Bassett', 4),
 ('Michael Showalter', 4),
 ('Mike Flanagan', 4),
 ('Mike Smith, John Paul Tremblay, Robb Wells', 4),
 ('Nate Adams, Adam Carolla', 4),
 ('Paul Thomas Anderson', 4),
 ('Peter Hutchings', 4),
 ('Peter Lepeniotis', 4),
 ('Raja Gosnell', 4),
 ('Rizal Mantovani', 4),
 ('Robin Swicord', 4),
 ('Rocky Soraya', 4),
 ('Rodrigo Van Der Put', 4),
 ('Ron Davis', 4),
 ('Stan Lathan', 4),
 ('Steve Carr', 4),
 ('Sylvester Stallone', 4),
 ('Theodore Boborol', 4),
 ('Thierry Demaizi√®re, Alban Teurlai', 4),
 ('Timothy Woodward Jr.', 4),
 ('Vince Marcello', 4),
 ('Vivieno Caldinelli', 4)]

In [ ]:
%%sql
#Top 5 Countries with the Most Content Variety
SELECT 
    c.country_name,
    COUNT(DISTINCT sg.genre_id) AS genre_variety
FROM netflix_shows ns
JOIN countries c ON ns.country_id = c.country_id
JOIN show_genres sg ON ns.show_id = sg.show_id
GROUP BY c.country_name
ORDER BY genre_variety DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
5 rows affected.

[('United States', 40),
 ('Unknown', 36),
 ('India', 35),
 ('United Kingdom', 30),
 ('Canada', 29)]

In [ ]:
%%sql
#Most Common Rating for Each Genre
WITH ranked AS (
    SELECT 
        g.genre_name,
        ns.rating,
        COUNT(*) AS total,
        RANK() OVER (PARTITION BY g.genre_name ORDER BY COUNT(*) DESC) AS rnk
    FROM netflix_shows ns
    JOIN show_genres sg ON ns.show_id = sg.show_id
    JOIN genres g ON sg.genre_id = g.genre_id
    GROUP BY g.genre_name, ns.rating
)
SELECT *
FROM ranked
WHERE rnk = 1
ORDER BY genre_name;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
43 rows affected.

[('Action & Adventure', 'TV-14', 106, 1),
 ('Anime Features', 'TV-MA', 8, 1),
 ('Anime Features', 'TV-PG', 8, 1),
 ('Anime Series', 'TV-14', 39, 1),
 ('British Tv Shows', 'TV-MA', 60, 1),
 ('Children & Family Movies', 'PG', 101, 1),
 ('Classic & Cult Tv', 'TV-14', 10, 1),
 ('Classic Movies', 'TV-14', 16, 1),
 ('Comedies', 'TV-14', 238, 1),
 ('Crime Tv Shows', 'TV-MA', 190, 1),
 ('Cult Movies', 'R', 16, 1),
 ('Documentaries', 'TV-MA', 144, 1),
 ('Docuseries', 'TV-MA', 82, 1),
 ('Dramas', 'TV-MA', 404, 1),
 ('Faith & Spirituality', 'TV-PG', 8, 1),
 ('Horror Movies', 'TV-MA', 86, 1),
 ('Independent Movies', 'TV-MA', 164, 1),
 ('International Movies', 'TV-MA', 543, 1),
 ('International Tv Shows', 'TV-MA', 361, 1),
 ("Kids' Tv", 'TV-Y7', 102, 1),
 ('Korean Tv Shows', 'TV-14', 38, 1),
 ('Lgbtq Movies', 'TV-MA', 28, 1),
 ('Movies', 'TV-Y', 12, 1),
 ('Music & Musicals', 'TV-14', 60, 1),
 ('Reality Tv', 'TV-MA', 44, 1),
 ('Romantic Movies', 'TV-14', 109, 1),
 ('Romantic Tv Shows', 'TV-14', 102, 1),
 ('Sci-Fi & Fantasy', 'PG-13', 41, 1),
 ('Science & Nature Tv', 'TV-PG', 17, 1),
 ('Spanish-Language Tv Shows', 'TV-MA', 62, 1),
 ('Sports Movies', 'TV-MA', 37, 1),
 ('Stand-Up Comedy', 'TV-MA', 119, 1),
 ('Stand-Up Comedy & Talk Shows', 'TV-MA', 15, 1),
 ('Teen Tv Shows', 'TV-14', 17, 1),
 ('Thrillers', 'TV-MA', 112, 1),
 ('Tv Action & Adventure', 'TV-MA', 39, 1),
 ('Tv Comedies', 'TV-MA', 133, 1),
 ('Tv Dramas', 'TV-MA', 220, 1),
 ('Tv Horror', 'TV-MA', 26, 1),
 ('Tv Mysteries', 'TV-MA', 31, 1),
 ('Tv Sci-Fi & Fantasy', 'TV-14', 22, 1),
 ('Tv Shows', 'TV-14', 4, 1),
 ('Tv Thrillers', 'TV-MA', 18, 1)]

In [ ]:
%%sql
#Find Directors with the Highest Average Movie Duration
SELECT 
    d.director_name,
    ROUND(AVG(CAST(SUBSTRING_INDEX(ns.duration, ' ', 1) AS UNSIGNED)), 2) AS avg_duration
FROM netflix_shows ns
JOIN directors d ON ns.director_id = d.director_id
WHERE ns.type = 'Movie'
GROUP BY d.director_name
HAVING COUNT(*) >= 3
ORDER BY avg_duration DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
10 rows affected.

[('Ashutosh Gowariker', Decimal('186.33')),
 ('Sooraj R. Barjatya', Decimal('181.75')),
 ('Farhan Akhtar', Decimal('172.67')),
 ('Prakash Mehra', Decimal('166.33')),
 ('S.S. Rajamouli', Decimal('161.80')),
 ('Farah Khan', Decimal('157.67')),
 ('Latif Faiziyev, Umesh Mehra', Decimal('156.67')),
 ('Mahesh Bhatt', Decimal('154.00')),
 ('Prakash Jha', Decimal('151.67')),
 ('B. V. Nandini Reddy', Decimal('149.67'))]

In [ ]:
%%sql
#Content Growth Trend per Year
SELECT 
    release_date,
    COUNT(show_id) AS total_titles,
    ROUND(
        (COUNT(show_id) / SUM(COUNT(show_id)) OVER()) * 100, 2
    ) AS percentage_share
FROM netflix_shows
GROUP BY release_date
ORDER BY release_date
limit 10;

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql
#Top 10 Countries Producing the Most Content
SELECT 
    c.country_name,
    COUNT(ns.show_id) AS total_titles
FROM netflix_shows ns
JOIN countries c ON ns.country_id = c.country_id
GROUP BY c.country_name
ORDER BY total_titles DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
10 rows affected.

[('United States', 1353),
 ('India', 509),
 ('Unknown', 259),
 ('United Kingdom', 218),
 ('Japan', 135),
 ('South Korea', 110),
 ('Canada', 98),
 ('Spain', 76),
 ('Egypt', 63),
 ('France', 57)]

In [ ]:
%%sql
#Top Directors by Number of Shows
SELECT 
    d.director_name,
    COUNT(ns.show_id) AS total_shows,
    GROUP_CONCAT(DISTINCT ns.type ORDER BY ns.type SEPARATOR ', ') AS categories
FROM netflix_shows ns
JOIN directors d ON ns.director_id = d.director_id
GROUP BY d.director_name
ORDER BY total_shows DESC
LIMIT 20;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
20 rows affected.

[('Unknown', 1343, 'Movie, TV Show'),
 ('Ra√∫l Campos, Jan Suter', 9, 'Movie'),
 ('Marcus Raboy', 7, 'Movie'),
 ('Martin Scorsese', 7, 'Movie'),
 ('Jay Karas', 7, 'Movie'),
 ('Youssef Chahine', 7, 'Movie'),
 ('Justin G. Dyck', 6, 'Movie'),
 ('Cathy Garcia-Molina', 6, 'Movie'),
 ('Anees Bazmee', 6, 'Movie'),
 ('Robert Rodriguez', 6, 'Movie'),
 ('Anurag Kashyap', 5, 'Movie'),
 ('S.S. Rajamouli', 5, 'Movie'),
 ('Imtiaz Ali', 5, 'Movie'),
 ('Fernando Ayll√≥n', 5, 'Movie'),
 ('Khaled Marei', 4, 'Movie'),
 ('Kƒ±van√ß Baru√∂n√º', 4, 'Movie'),
 ('David Dhawan', 4, 'Movie'),
 ('Wenn V. Deramas', 4, 'Movie'),
 ('Hanung Bramantyo', 4, 'Movie'),
 ('Mahesh Manjrekar', 4, 'Movie')]

In [ ]:
%%sql
#Adult Content Ratio by Country
SELECT 
    c.country_name,
    COUNT(CASE WHEN ns.rating IN ('TV-MA', 'R', 'NC-17') THEN 1 END) AS adult_titles,
    COUNT(*) AS total_titles,
    ROUND(
        (COUNT(CASE WHEN ns.rating IN ('TV-MA', 'R', 'NC-17') THEN 1 END) / COUNT(*)) * 100, 
        2
    ) AS adult_content_ratio
FROM netflix_shows ns
JOIN countries c ON ns.country_id = c.country_id
GROUP BY c.country_name
HAVING total_titles > 20
ORDER BY adult_content_ratio DESC
LIMIT 10;

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql
#Most Popular Genres by Year
with cte as(SELECT 
    ns.release_date,
    g.genre_name,
    COUNT(*) AS total_titles,
    RANK() OVER (PARTITION BY ns.release_date ORDER BY COUNT(*) DESC) AS genre_rank
FROM netflix_shows ns
JOIN show_genres sg ON ns.show_id = sg.show_id
JOIN genres g ON sg.genre_id = g.genre_id
WHERE ns.release_date IS NOT NULL
GROUP BY ns.release_date, g.genre_name
HAVING total_titles > 5
ORDER BY ns.release_date, genre_rank)
select * from cte
where genre_rank=1;

 * mysql+mysqlconnector://root:***@localhost/Netflix_project
71 rows affected.

[(datetime.date(2011, 10, 1), 'Dramas', 6, 1),
 (datetime.date(2016, 1, 1), "Kids' Tv", 13, 1),
 (datetime.date(2016, 12, 15), 'International Tv Shows', 9, 1),
 (datetime.date(2017, 1, 15), 'International Movies', 6, 1),
 (datetime.date(2017, 3, 10), 'International Movies', 16, 1),
 (datetime.date(2017, 3, 31), 'Documentaries', 12, 1),
 (datetime.date(2017, 4, 1), 'International Movies', 9, 1),
 (datetime.date(2017, 5, 1), 'International Movies', 8, 1),
 (datetime.date(2017, 7, 1), 'International Tv Shows', 8, 1),
 (datetime.date(2017, 7, 1), 'Tv Dramas', 8, 1),
 (datetime.date(2017, 8, 1), 'International Tv Shows', 11, 1),
 (datetime.date(2017, 9, 1), 'International Movies', 17, 1),
 (datetime.date(2017, 10, 1), 'International Movies', 9, 1),
 (datetime.date(2017, 10, 15), 'International Movies', 12, 1),
 (datetime.date(2017, 11, 1), 'International Movies', 10, 1),
 (datetime.date(2017, 12, 15), 'International Movies', 10, 1),
 (datetime.date(2018, 1, 1), 'International Movies', 14, 1),
 (datetime.date(2018, 2, 15), 'International Movies', 6, 1),
 (datetime.date(2018, 3, 1), 'International Movies', 27, 1),
 (datetime.date(2018, 3, 15), 'Dramas', 12, 1),
 (datetime.date(2018, 4, 1), 'Dramas', 13, 1),
 (datetime.date(2018, 4, 27), 'International Tv Shows', 6, 1),
 (datetime.date(2018, 5, 1), 'International Movies', 9, 1),
 (datetime.date(2018, 7, 1), 'Dramas', 14, 1),
 (datetime.date(2018, 7, 1), 'International Movies', 14, 1),
 (datetime.date(2018, 7, 26), 'Dramas', 8, 1),
 (datetime.date(2018, 8, 1), 'International Movies', 12, 1),
 (datetime.date(2018, 8, 2), 'International Movies', 12, 1),
 (datetime.date(2018, 8, 16), 'International Movies', 13, 1),
 (datetime.date(2018, 9, 1), 'Dramas', 7, 1),
 (datetime.date(2018, 9, 1), 'International Movies', 7, 1),
 (datetime.date(2018, 10, 1), 'International Movies', 28, 1),
 (datetime.date(2018, 11, 1), 'International Movies', 23, 1),
 (datetime.date(2018, 11, 15), 'International Movies', 7, 1),
 (datetime.date(2018, 12, 1), 'International Movies', 10, 1),
 (datetime.date(2018, 12, 21), 'International Tv Shows', 6, 1),
 (datetime.date(2019, 1, 1), 'Action & Adventure', 8, 1),
 (datetime.date(2019, 2, 1), 'Dramas', 8, 1),
 (datetime.date(2019, 2, 15), 'International Movies', 7, 1),
 (datetime.date(2019, 2, 27), 'International Movies', 7, 1),
 (datetime.date(2019, 3, 1), 'Children & Family Movies', 6, 1),
 (datetime.date(2019, 5, 1), 'International Movies', 7, 1),
 (datetime.date(2019, 5, 8), 'International Tv Shows', 6, 1),
 (datetime.date(2019, 5, 31), 'International Movies', 6, 1),
 (datetime.date(2019, 6, 6), 'International Movies', 7, 1),
 (datetime.date(2019, 7, 1), 'Dramas', 6, 1),
 (datetime.date(2019, 7, 12), 'International Tv Shows', 6, 1),
 (datetime.date(2019, 8, 1), 'Dramas', 7, 1),
 (datetime.date(2019, 8, 1), 'International Movies', 7, 1),
 (datetime.date(2019, 9, 1), 'Dramas', 8, 1),
 (datetime.date(2019, 10, 1), 'Comedies', 11, 1),
 (datetime.date(2019, 11, 1), 'Action & Adventure', 18, 1),
 (datetime.date(2019, 11, 20), 'Comedies', 10, 1),
 (datetime.date(2019, 12, 1), 'Dramas', 6, 1),
 (datetime.date(2019, 12, 15), 'International Movies', 9, 1),
 (datetime.date(2019, 12, 31), 'International Movies', 26, 1),
 (datetime.date(2020, 1, 1), 'Comedies', 25, 1),
 (datetime.date(2020, 3, 1), 'Dramas', 6, 1),
 (datetime.date(2020, 4, 1), 'Dramas', 16, 1),
 (datetime.date(2020, 4, 28), 'International Movies', 6, 1),
 (datetime.date(2020, 4, 28), 'Comedies', 6, 1),
 (datetime.date(2020, 6, 2), 'International Movies', 6, 1),
 (datetime.date(2020, 6, 18), 'International Movies', 6, 1),
 (datetime.date(2020, 7, 5), 'International Movies', 13, 1),
 (datetime.date(2020, 9, 1), 'Comedies', 6, 1),
 (datetime.date(2020, 9, 10), 'International Movies', 10, 1),
 (datetime.date(2020, 10, 1), 'Comedies', 7, 1),
 (datetime.date(2020, 10, 19), 'International Movies', 10, 1),
 (datetime.date(2020, 11, 19), 'International Movies', 8, 1),
 (datetime.date(2021, 1, 1), 'Dramas', 9, 1),
 (datetime.date(2021, 1, 1), 'Comedies', 9, 1)]